{% extends 'admin/adminBase.html'%}{%load crispy_forms_tags%}
{% block 'admin-content' %}
<div class="contaner">
    <div class="row">
        <div class="col border mt-2 border-3 p-3 border-dark mx-auto">
            <div class="row border-bottom border-3 border-dark ">
                <div class="col-8 border-end ">
                    <h1 class="fs-1">View Doctor <span class="fs-5">({{doctor.id}}) ({{doctor.user.id}})</span></h1>
                </div>

                {% comment %} {%for cab in cabilAprove%}
                    <p>{{cab.doctor_no}}</p>
                {%endfor%} {% endcomment %}



                <div class="col-4">

                    {%if doctor.isApproved == False %}
                    <a href="{%url 'approveDoctor' doctor.user.id%}" class="btn btn-success">Approve</a>
                    {%endif%}
                    <a href="{%url 'deleteDoctor' doctor.user.id%}" class="btn btn-danger">Delete</a>
                    <a href="{%url 'editDoctor' doctor.user.id%}" class="btn btn-info">Edit</a>
                </div>
            </div>

            <table class="table mt-3">
                <tr class="border border-dark">
                    <th>Full name</th>
                    <td class="border border-dark">{{doctor.user.username}}</td>
                    <td colspan="2" class="border border-dark" rowspan="4"><img src="{{doctor.d_image.url}}"
                            height="215px" class="rounded-circle" alt=""></td>
                </tr>
                <tr class="border border-dark">
                    <th>Father name</th>
                    <td class="border border-dark">{{doctor.father_name}}</td>
                </tr>
                <tr class="border border-dark">
                    <th>Mother name</th>
                    <td class="border border-dark">{{doctor.mother_name}}</td>
                </tr>
                <tr class="border border-dark">
                    <th>Cabil number</th>
                    <td class="border border-dark">

                        {%if cabilAprove %}
                            <h1 class="fst-4 text-primary">{{cabilAprove.cableNumber}}</h1>
                        {%else%}
                        <form action="" method="post">
                            {%csrf_token%}
                            <select onChange="this.form.submit();" name="cabilNumber" class="select form-select" id="id_cableNumber">
                                <option value="" selected="">---------</option>
                                {% for cabil in cabil %}
                                <option value="{{cabil.id}}">{{cabil.CABIL_NUMBER}}</option>
                                {%endfor%}
                            </select>
                        </form>
                        {%endif%}
                        {{cabil.cabilNumber}}
                        
                    </td>
                </tr>
                <tr class="border border-dark">
                    <th>Gender</th>
                    <td class="border border-dark">{{doctor.gender}}</td>
                    <th>Pin Code</th>
                    <td class="border border-dark">{{doctor.pin_code}}</td>
                </tr>
                <tr class="border border-dark">
                    <th>DOB</th>
                    <td class="border border-dark">{{doctor.dob}}</td>
                    <th>Contact</th>
                    <td class="border border-dark">{{doctor.contact}}</td>
                </tr>
                <tr class="border border-dark">
                    <th>City</th>
                    <td class="border border-dark">{{doctor.city}}</td>
                    <th>State</th>
                    <td class="border border-dark">{{doctor.state}}</td>
                </tr>
                <tr class="border border-dark">
                    <th>Address</th>
                    <td class="border border-dark">{{doctor.address}},{{doctor.pin_code}}</td>

                    <th>Approve</th>
                    <td class="border border-dark">{{doctor.isApproved}}</td>
                </tr>
                <tr class="border border-dark">
                    <th>Date of joing</th>
                    <td class="border border-dark">{{doctor.dateOfJoin}}</td>
                    <th>Resume</th>
                    <td class="border border-dark"><input type="submit" id="pay_btn" value="Resume"
                            class="btn btn-outline-primary"></td>
                </tr>
            </table>
        </div>
        <div class="col border mt-2 border-3 p-3 border-dark mx-auto">
            <h1>My Payments </h1>
            <table class="table mt-3">
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>month</th>
                    <th>Amount</th>
                    <th>status</th>
                </tr>
                {% for salary in salary %}
                {% if salary.doctor.user == doctor.user %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{salary.doctor.user.username}}</td>
                    <td>{{salary.month}}</td>
                    <td>{{salary.amount}}</td>
                    <td>
                        {% if salary.status == False %}
                        <button class="btn btn-danger">{{salary.status}}</button>
                        {% else %}
                        <button class="btn btn-info">{{salary.status}}</button>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock 'admin-content' %}