{% extends 'admin/adminBase.html'%}{%load crispy_forms_tags%}
{% block 'admin-content' %}
<div class="contaner">
    <div class="row">
        <div class="card-title fs-1">{{title|upper}}</div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken"
                            value="u9KEPrIPSG1YEwnb4OudwcHjrZxpZVmcKuLCyneIo0vz7EutG24S2zhuZef1XnrZ">


                        <div id="div_id_Doctor" class="mb-3"> <label for="id_Doctor" class="form-label requiredField">
                                Doctor<span class="asteriskField">*</span> </label> <select name="Doctor"
                                class="select form-select" required="" id="id_Doctor">
                                <option hidden>Doctor name</option>
                                {% for doctor in doctor %}
                                <option value="{{doctor.user.username}}">{{forloop.counter}} . <span>{{doctor.user.username}}</span></option>
                                {% endfor %}
                            </select> 
                        </div>
                        <div id="div_id_start_time" class="mb-3"> <label for="id_start_time"
                                class="form-label requiredField">
                                Start time<span class="asteriskField">*</span> </label> <input type="datetime-local"
                                name="start_time" class="datetimeinput form-control is-invalid" required=""
                                id="id_start_time">
                            
                        </div>
                        <div id="div_id_end_time" class="mb-3"> <label for="id_end_time"
                                class="form-label requiredField">
                                End time<span class="asteriskField">*</span> </label> <input type="datetime-local" name="end_time"
                                class="datetimeinput form-control is-invalid" required="" id="id_end_time">
                            
                        </div>
                        <div class="mb-3">
                            <div id="div_id_is_present" class="mb-3 form-check"> <input type="checkbox"
                                    name="is_present" class="checkboxinput form-check-input" id="id_is_present"
                                    > <label for="id_is_present" class="form-check-label">
                                    Is present
                                </label> </div>
                        </div>

                        <input type="submit" value="Add room" class="btn btn-success w-100">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <table class="table border border-2">
                        <tr>
                            <th class="border">Id</th>
                            <th class="border">Doctor name</th>
                            <th class="border">Date</th>
                            <th class="border">Start time</th>
                            <th class="border">Ending time</th>
                            <th class="border">Action</th>
                        </tr>
                        {% for attendence in object_list %}
                          <tr>
                            <td class="border">{{attendence.id}}</td>
                            <td class="border">{{attendence.Doctor.user.username}}</td>
                            <td class="border">{{attendence.Date}}</td>
                            <td class="border">{{attendence.start_time}}</td>
                            <td class="border">{{attendence.end_time}}</td>
                            <td class="border">
                                {% if attendence.is_present == False %}
                                    <a href="" class="btn btn-danger">Absent</a>
                                {% else %}
                                    <a href="" class="btn btn-success">Present</a>
                                {%endif%}
                            </td>
                          </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}