{% extends 'admin/adminBase.html'%}{%load crispy_forms_tags%}
{% block 'admin-content' %}
    <div class="contaner">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <!-- <div class="card-title fs-1">{{title|upper}}</div> -->
                    <div class="card-body">
                        <form action="" method="post">
                            {%csrf_token%}
                            {{form|crispy}}
                            <input type="submit" value="Add room" class="btn btn-success w-100">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-10 border border-2">
                        <table class="table">
                            <tr>
                                <th>Id</th>
                                <th>Patient name</th>
                                <th>Staff name</th>
                                <th>Madicine name</th>
                                <th>Report</th>
                                <th>Doctor fee</th>
                                <th>Action</th>
                            </tr>
                            {% for bill in object_list %}
                              <tr>
                                <td>{{bill.patient.first_name}} {{bill.patient.last_name}}</td>
                                <td>{{bill.staff.name}}</td>
                                <td>{{bill.doctor_fee}}</td>
                                <td>{{bill.madicine}}</td>
                                <td><a href="" class="btn btn-danger">Payment</a></td>
                              </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}