{% extends 'admin/adminBase.html'%}{%load crispy_forms_tags%}
{% block 'admin-content' %}
    <div class="contaner">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <!-- <div class="card-title fs-1">{{title|upper}}</div> -->
                    <div class="card-body">
                        <form action="" method="post">
                            {%csrf_token%}
                            {{form|crispy}}
                            <input type="submit" value="Add room" class="btn btn-success w-100">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <table class="table border border-2">
                            <tr>
                                <th class="border">Id</th>
                                <th class="border">Patient name</th>
                                <th class="border">Staff name</th>
                                <th class="border">Madicine name</th>
                                <th class="border">Report</th>
                                <th class="border">Doctor fee</th>
                                <th class="border">Totall rupees</th>
                                <th class="border">Action</th>
                            </tr>
                            {% for bill in object_list %}
                              <tr>
                                <td class="border">{{bill.id}}</td>
                                <td class="border">{{bill.patient.first_name}} {{bill.patient.last_name}}</td>
                                <td class="border">{{bill.staff.staff_name}}</td>
                                <td class="border">{{bill.madicine.pharmaceuticl.medicine}}</td>
                                <td class="border">{{bill.report.test_name}}</td>
                                <td class="border">{{bill.doctor_fee}}</td>
                                <td class="border"></td>
                                <td class="border"><a href="" class="btn btn-danger">Payment</a></td>
                              </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}