{% extends 'admin/adminBase.html'%}
{% block 'admin-content' %}
    <div class="contaner">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-title fs-1">{{title|upper}}</div>
                    <div class="card-body">
                        <form action="" method="post">
                            {%csrf_token%}
                            {{form.as_p}}
                            <input type="submit" value="Add test" class="btn btn-success w-100">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    {%for room in test%}
                            <div class="col-4 mt-2">
                                <div class="card border border-danger">
                                    <div class="card-body px-1">
                                        <a href="{%url 'editRoomDetails' room.id%}" class="btn px-0 mx-0">{{room.test_name}}</a>
                                    </div>
                                    <div class="card-footer py0 my-0">
                                        <a href="{%url 'editRoomDetails' room.id%}" class="btn p-0 m-0">Price :- (₹ {{room.test_price}})</a>
                                    </div>
                                </div>
                            </div>
                    {%endfor%}
                </div>
            </div>
            <div class="col-lg-12 col-sm-8 border mt-2 border-3 p-3 border-dark mx-auto">
                <h1>Patient Reports list</h1>
                <table class="table mt-3 table-sm">
                    <tr>
                        <th>id</th>
                        <th>Patient name</th>
                        <th>Doctor name</th>
                        <th>Test name</th>
                        <th>Test fee</th>
                        <th>action</th>
                    </tr>
                    {% for report in report %}
                    <tr>
                        
                        <td>{{report.id}}</td>
                        <td>{{report.patient}}</td>
                        <td>{{report.doctor}}</td>
                        <td>{{report.test_name.test_name}}</td>
                        <td>(₹ {{report.test_name.test_price}})</td>
                        {%if report.action == True%}
                            <td><a href="{%url 'viewReport' report.id%}" class="btn btn-info">{{report.action}}</a>
                        {%else%}
                            <td><a href="{%url 'viewReport' report.id%}" class="btn btn-danger">{{report.action}}</a>
                        {%endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}