<ul class="list-group d-print-none">
    <li class="list-group-item bg-dark active" aria-current="true"><a href="{%url 'doctorDashboard' %}" class="btn w-100 rounded-0 text-light">Doctor Dashboard</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'doctorProfile' %}" class="btn w-100 rounded-0">{{doctor.user}} Profile</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'managePationD'%}" class="btn w-100 rounded-0">Manage patient</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'manageOldPationD'%}" class="btn w-100 rounded-0">Manage old patient</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'cabilDetailsD'%}" class="btn w-100 rounded-0">Doctor's cabin</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'appointment' %}" class="btn w-100 rounded-0">Appointment</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'DoctorMessage' %}" class="btn w-100 rounded-0">Message</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'doctor_leaveView' %}" class="btn w-100 rounded-0">Leave</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'manage_attendance'%}" class="btn w-100 rounded-0">Manage Attendance</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="" class="btn w-100 rounded-0">Manage Staffs</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{}" class="btn w-100 rounded-0">Manage Payments</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="" class="btn w-100 rounded-0">Settings</a></li>
</ul>