{% extends 'base.html'%}
{% block 'content' %}
<div class="container-flex">
    <div class="container">
        <div class="row my-3">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item bg-dark active" aria-current="true"><a href="{%url 'dashboard' %}" class="btn w-100 rounded-0 text-light">Dashboard</a></li>
                    <li class="list-group-item bg-secondary"><a href="{%url 'managePation'%}" class="btn w-100 rounded-0">Manage patient</a></li>
                    <li class="list-group-item bg-secondary"><a href="{%url 'manageOldPation'%}" class="btn w-100 rounded-0">Manage old patient</a></li>
                    <li class="list-group-item bg-secondary"><a href="{% url 'manageNewDoctor' %}" class="btn w-100 rounded-0">Manage new doctor</a></li>
                    <li class="list-group-item bg-secondary"><a href="{% url 'manageOldDoctor' %}" class="btn w-100 rounded-0">Manage old doctor</a></li>
                    <li class="list-group-item bg-secondary"><a href="{%url 'roomDetails'%}" class="btn w-100 rounded-0">Manage room</a></li>
                    <li class="list-group-item bg-secondary"><a href="{%url 'cabilDetails'%}" class="btn w-100 rounded-0">Doctor's cabil</a></li>
                    <li class="list-group-item bg-secondary"><a href="" class="btn w-100 rounded-0">Manage Staffs</a></li>
                    <li class="list-group-item bg-secondary"><a href="" class="btn w-100 rounded-0">Manage Attendance</a></li>
                    <li class="list-group-item bg-secondary"><a href="{}" class="btn w-100 rounded-0">Manage Payments</a></li>
                    <li class="list-group-item bg-secondary"><a href="" class="btn w-100 rounded-0">Settings</a></li>
                </ul>
            </div>
            <div class="col-9">
                {% block 'admin-content' %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
