<ul class="list-group d-print-none">
    <li class="list-group-item bg-dark active" aria-current="true"><a href="{%url 'patientDashboard' %}" class="btn w-100 rounded-0 text-light">Patient Dashboard</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'patientReportList' %}" class="btn w-100 rounded-0"> Report list</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'patientMedicineList' %}" class="btn w-100 rounded-0"> Medicine list</a></li>
   
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'patientAppointement' %}" class="btn w-100 rounded-0">Take Appointment </a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'appointment_confirmation' %}" class="btn w-100 rounded-0">Appointment list </a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="{%url 'DoctorMessage' %}" class="btn w-100 rounded-0">Message</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="" class="btn w-100 rounded-0">My Dite List</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="" class="btn w-100 rounded-0">Manage Payments</a></li>
    <li class="list-group-item bg-secondary" style="text-align-last: left !important;"><a href="" class="btn w-100 rounded-0">Settings</a></li>
</ul>