{% extends 'doctor/doctorBase.html'%}
{% block 'doctor-content' %}
    <div class="contaner">
        <div class="row">
            <div class="col-6 mx-auto">
                <h1 class="fs-1">{{title|upper}}</h1>
            </div>
            <div class="col-6">
                <form class="d-flex" action="" method="get" role="search">
                    <input class="form-control me-2" name="code" type="text" autofocus placeholder="Scan RF code here" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Scan</button>
                  </form>
            </div>
            <div class="col mx-auto lh-1">
                <table class="table border border-2 lh-1">
                    <tr>
                        <th class="border lh-1">id</th>
                        <th class="border lh-1">Name</th>
                        <th class="border lh-1">Father name</th>
                        <th class="border lh-1">Mother name</th>
                        <th class="border lh-1">DOB</th>
                        <th class="border lh-1">Room no.</th>
                        <th class="border lh-1">Contact</th>
                        <th class="border lh-1">Gender</th>
                        <th class="border lh-1">Address</th>
                        <th colspan="3" class="border">Action</th>
                    </tr>
                    {% for stu in patient %}
                        <tr>
                            <td class="border lh-1">{{forloop.counter}}</td>
                            <td class="border lh-1">{{stu.first_name}} {{stu.last_name}}</td>
                            <td class="border lh-1">{{stu.father_name}}</td>
                            <td class="border lh-1">{{stu.mother_name}}</td>
                            <td class="border lh-1">{{stu.dob}} </td>
                            <td class="border lh-1">{{stu.room_no}}</td>
                            <td class="border lh-1">{{stu.contact}}</td>
                            <td class="border lh-1">{{stu.gender}}</td>
                            <td class="border lh-1">{{stu.address}},{{stu.pin_code}}</td>
                            <td class="border lh-1"><a href="{%url 'viewPationD' stu.user.id%}" class="btn btn-success">View</a></td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
{% endblock 'doctor-content' %}